PORT=5000
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
REDDIT_CONSUMER_KEY=
REDDIT_CONSUMER_SECRET
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
YOUTUBE_KEY=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=